<header class="jumbotron hero-spacer">
  <h1>Your basket</h1>
  <p *ngIf="result == null">
    Your basket amounts to {{total | currency : 'USD' }}
  </p>

  <p *ngIf="result == null"><a (click)="buyNow()" class="btn btn-primary btn-large">Buy Now</a></p>
  <p *ngIf="result != null">
    Success! You have bought awesome tee-shirts. Your order: {{result?.orderNumber}}
  </p>
</header>
<div class="row text-center">
  <ng-container *ngFor="let product of basket | sortProducts ">
    <app-product [options]="{basket: true}" [product]="product" (addToBasket)="removeFromBasket(product)"></app-product>
  </ng-container>
</div>
