
<div class="col-md-3 col-sm-6 product-item">
  <div class="thumbnail" [ngClass]="{ last: isLast(product)}">
    <img [src]="product.photo" alt="">
    <div class="caption">
      <h3>{{product.title | uppercase }} - {{product.price | currency: 'USD'}}</h3>
      <p>
        {{product.description}} <small *ngIf="!options.basket">(stock: {{product.stock}})</small>
      </p>

      <p>
        <button *ngIf="!options.basket" (click)="onClick()" class="btn btn-primary" [disabled]="product.stock <= 0">
          <ng-container > Add to basket</ng-container>
        </button>
      </p>
    </div>
  </div>
</div>
